* {
  font-family: "JetBrains Mono NF";
  transition: 0.3s;
  font-size: 14px;
}

/* Floating notification popups */
.notification {
    background-color: rgba(30, 30, 30, 0.6);
    border-radius: 2px;
    padding: 10px;
    margin: 6px;
    color: #ffffff;
}

/* Control Center */
.control-center {
    background-color: rgba(20, 20, 20, 0.95);
    border-radius: 0px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 12px;
    margin: 0px;
    color: #ffffff;
}

/* Title */
.widget-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
}

/* Buttons */
.widget-button {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 6px;
    margin: 3px;
}

/* MPRIS Widget */
.widget-mpris {
    margin-top: 12px;
    padding: 8px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
}

.widget-mpris .title {
    font-size: 13px;
    font-weight: bold;
}

.widget-mpris .artist {
    font-size: 12px;
    color: #bbbbbb;
}

.widget-mpris .button {
    margin-left: 6px;
    padding: 5px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.08);
}
