* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono NF";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgb(20, 20, 20);
    color: #ffffff;
}


#workspaces button.active {
    color: #f1f1f1;
}
#workspaces button.empty {
    color: #3f3f3f;
}

#workspaces button.visible {
    color: rgb(255, 160, 215);
}


#workspaces button.urgent {
    color: #ff9c8a;
}

#workspaces button {
    color: #afafaf;
}

#mpris.spotify{
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    color: rgb(218, 218, 218);
}

#pulseaudio-slider slider {
    min-height: 0px;
    border-radius: 8px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 6px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 5px;
    border-radius: 10px;
    background-color: rgb(183, 252, 23);
}

#battery {
    color: #ffffff; /* normal color */
}

/* Warning state (below 30%) */
#battery.warning {
    color: orange;
}

/* Critical state (below 20%) */
#battery.critical {
    color: red;
}